<style media="screen">
</style>
<div id="header">
  <div class="dropdown-wrapper">
    <div class="dropdown">
      <a class="dropbtn" href="/login">Login</a>
      <div class="dropdown-content">
        <a href="/register">Register</a>
      </div>
    </div>
  </div>
</div>
<ul id="pelitlista">
  Lista peleistä:
</ul>
