<div id="viestialue">
  <div id="error">
  </div>
    <ul id="errorlista">
    </ul>
    <ul id="viestilista"></ul>
    <label id="lahetys">
    <textarea name="tekstiarea" id='viesti'></textarea>
    <button id="laheta"></button>
    </label>
</div>
