<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <!-- <script src="./index.js" charset="utf-8"></script> -->
  <link rel="stylesheet" href="/tyylit/tyylit.css">
</head>

<body>
  <%- include('aulaEK') -%>
</body>

</html>
